{{!-- <div class="wrapper">
    <div class="LB_section">
        <div class="LB_wrap">
            <div class="LB_item">
                <div class="LB_member">
                    <div class="name_space">
                        <p><span>1.</span>{{gametag}}</p>
                        <p><span>2.</span>{{gametag}}</p>
                        <p><span>3.</span>{{gametag}}</p>
                        <p><span>4.</span>{{gametag}}</p>
                        <p><span>5.</span>{{gametag}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     --}}

<div id="leaderboards-header-div">
    <h1>Leaderboards</h1>
</div>
<div id="leaderboards-div">
    <ul id="leaderboards-ul">
        {{#each scores}}
        <li>{{score}} | {{username}}</li>
        {{/each}}
    </ul>
</div>